
<div id="box">
    <ul>
        <li><span>Currency:</span> Belize Dollar</li>
        <li><span>Must-try:</span> Lionfish</li>
        <li><span>Must-visit:</span> Sarteneja Fishing Village</li>
    </ul>                   
</div>