
<div id="box">
    <ul>
        <li><span>Currency:</span> Pound Sterling</li>
        <li><span>Must-try:</span> Fish and Chips</li>
        <li><span>Must-visit:</span> SOHO neighbourhood in London</li>
    </ul>                   
</div>