<div id="box">
    <ul>
        <li><span>Currency:</span> Indian Rupee</li>
        <li><span>Must-try:</span> Garlic Chutney</li>
        <li><span>Avoid:</span> Beggars with Children who are asleep</li>
    </ul>                   
</div>