
<div id="box">
    <ul>
        <li><span>Currency:</span> Euro</li>
        <li><span>Must-try:</span> Truffles</li>
        <li><span>Hidden Gem:</span>Torre Argentina - a hidden cat sanctuary on the Roman ruins</li>
    </ul>                   
</div>