
<div id="box">
    <ul>
        <li><span>Currency:</span> Euro</li>
        <li><span>Must-try:</span> Zeppelins and Cold Beet Soup</li>
        <li><span>Must-visit:</span>Druskininkai SPA town</li>
    </ul>                   
</div>