@model commonroom.Models.User
@{
    ViewData["Title"] = "Home Page";
}
<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->

<style>
.logout{
  margin-left: 700px;
}
.home{
  margin-left: 70px;
}
#visas{
    width: 100%;
}
nav{
    background: rgba(0,0,0,0.5);
}
a{
  text-shadow: 3px 3px 3px black;
  font-family: Dekko;
  letter-spacing: 4px;
  color:white;
}
a:hover{
  color:#2A4E4C;
}
</style>

<div id="visas">
<nav class="navbar navbar-expand-lg">
  <!-- foreach (var user in ViewBag.Users) -->
  <!-- <a class="navbar-brand" href="/editaccount/ATuser.UserID">PROFILE</a> -->

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">

      <li>
        <a class="nav-link home" href="Home">HOME<span class="sr-only">(current)</span></a>
      </li>      
      <li class="nav-item active">
        <a class="nav-link logout" href="Logout">LOG OUT <span class="sr-only">(current)</span></a>
      </li>
  <li>
    <!-- <nav class="navbar navbar-light bg-light"> -->
  <!-- <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form> -->
</nav>
</li>
    </ul>
  </div>
</nav>
</div>