
<div id="box">
    <ul>
        <li><span>Currency:</span> Thai Baht</li>
        <li><span>Must-try:</span> Curry</li>
        <li><span>Avoid:</span> Unethical Elephant Parks</li>
    </ul>                   
</div>