<script src="https://www.rome2rio.com/Scripts/Widget/dist/injector/injector.js"></script>
<div id="r2r-widget"></div>
<script>
R2RWidget.insert({"elementId":"r2r-widget","size":"leaderBoard","title":"Find travel options","fromLabel":"FROM","toLabel":"TO","searchLabel":"SEARCH","fromOverride":false,"fromCanonical":"","fromText":"","toOverride":false,"autocompleteTo":"","baseUrl":"https://www.rome2rio.com","width":728,"height":90,"style":"black"});
</script>